
*{
   box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


.logo-container, ul, .cart{
display: flex;

}
.row{
    
    height: 10vh;
}

.logo-container{
    height: 10vh;
    justify-content: left;
    padding-left:5vw;
    align-items: center;
  
  
}
.logo {
   font-size: 20px;
    margin:5px;
}
a{
    font-size: 20px;
    color: blue;
    font-weight: 500;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: blue;
}
ul{
    height: 10vh;
    list-style: none;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}
.cart{
    height: 10vh;

}

.cart-img{
    height:40px;
    width: 40px;
    position:absolute;
    margin-top: 5vh;
    margin-right:5vw;
    transform:translate(-50%, -50%);
    right:0px;

}



.left-part{
  
    height:80vh;
    display: inline-block;
    padding-top: 40vh;
   
}
.presentation{
    transform:translate(0px, -80%);
   
}
.presentation h1,h3{
    color:#585772;
} 


.btn-model{
    height:50px;
    width: 150px;
    border:solid 3px #c36cbb;
    background: transparent;
    font-weight: 500;
    color:#c36cbb;
    margin-top:5vh;
}

.btn-cart{
    width: 150px;
    height:50px;
    border:none;
    background:#c36cbb;
    color: white;
    margin-top:5vh;
}


.img-notebook{
    max-width: 100%;
    margin-top:4.5vh;
    max-height:60vh;
    filter: drop-shadow(0px 10px 5px black);
    animation: drop 1.5s ease;
}

.arrows-elem{
    margin:10px;
}

.big-circle, .small-circle, .mid-circle{
    position:absolute;
}

.big-circle{
top:0px;
right:0px;
z-index:-1;
opacity:0.5;
}

.mid-circle{
    top:30vh;
    right:30vw;
    z-index:-1;
    opacity:0.6;

}

.small-circle{
    top:60vh;
    z-index:-1;
    opacity:0.8;
    right:60vw;
}


.left-part{
 
    height:55vh; 
}
.buttons{
    background:red;
}

@keyframes drop {
    0%{
        opacity:0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        }

}