body{
    background-color: #B931EB;
    font-family: 'Roboto';
    .video-block {
        display: flex;
        justify-content: center;

        margin-top: 100px;

    }
 
}

@media (min-width: 1000px){
 video{
     height: 400px;
     width: 710px;
 }   
}