* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
   


    .some-city {
        margin: 3em 5em;
        padding: 3em 2em;
        border: 4px green solid;
        text-align: center;
        
     .main-info{

            .city-name {
                font-size: 2em;
                font-weight: 700;
                color: rgb(27, 175, 27);
                padding: .25em .5em;
            }
            .tempreture{
                font-size: 3em;
            }
     }

     .item{
         margin-top: 1em;
     }
    }
}