* {
    box-sizing: border-box;
}


// body:hover .container {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
// }

// body:hover .message {
//     display: none;
// }

// .message {
//     display: block;
//     transition-delay: 4s;
//     font-size: 3em;
//     font-family: 'Roboto', sans-serif;
//     text-align: center;
  
// }

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 
    font-family: 'Roboto', sans-serif;
    // transition-delay: 4s;
    // visibility: hidden;

    .some-city {
        margin: 3em 4em;
        padding: 3em 1.5em;
        border: 4px green solid;


        .main-info {
            border-top: .5px solid rgba(112, 109, 109, .3);
            border-bottom: .5px solid rgba(112, 109, 109, .3);
            padding: 1em 0 1em 0;
            text-align: center;

            .city-name {
                font-size: 2em;
                font-weight: 700;
                color: rgb(27, 175, 27);
                padding: .25em .5em;
            }

            .tempreture {
                font-size: 3em;
            }
        }

        .item {
            margin-top: 1em;
            text-align: center;
            font-size: .9em;
        }


    }
}